---
layout: default
title: Support
type: utility
order: 9999
---

<p>
  OpenAI's Jukebox has a <a href="https://github.com/openai/jukebox/blob/master/LICENSE">Noncommercial Use License</a>.
  I'm not a lawyer, but I'm hoping to support the hosting costs along with further sample generation via donations.
  This page is a placeholder.

  I want to make a real cool "Bill of materials" type page here!
</p>
