/**
 * Copyright 2013-2015 The Rust Project Developers. See the COPYRIGHT
 * file at the top-level directory of this distribution and at
 * http://rust-lang.org/COPYRIGHT.
 *
 * Licensed under the Apache License, Version 2.0 <LICENSE-APACHE or
 * http://www.apache.org/licenses/LICENSE-2.0> or the MIT license
 * <LICENSE-MIT or http://opensource.org/licenses/MIT>, at your
 * option. This file may not be copied, modified, or distributed
 * except according to those terms.
 */

*:not(body) {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.bar {
    display: block;
    background-color: #000;
    border-radius: 2px;
    width: 100%;
    height: 2px;
    margin: 2px 0 3px;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

#toggle-nav {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 3px;
    padding: 3px 3px 0 3px;
}

#page {
    margin: 0 auto;
    max-width: 750px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
    top: 30%;
}

@media only screen and (max-width: 1023px) {
    #page {
        top: 0%;
    }
}

@media only screen {
    #toc {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        width: 150px;
        overflow-y: auto;
        border-left: 1px solid #e8e8e8;
        padding: 0 15px;
        font-size: 24px;
        background-color: #fafafa;
        -webkit-overflow-scrolling: touch;

        ul {
            right: 10px;
            text-align: right;
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    #page-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 150px;
        padding: 0 15px;
        height: 100%;
        -webkit-overflow-scrolling: touch;
    }
}

@media only print {
    #toc, #nav {
        display: none;
    }
}

@media only screen and (max-width: 1023px) {
    #toc {
        width: 100%;
        top: 40px;
    }

    #page-wrapper {
        top: 40px;
        left: 0;
        right: 0;
    }

    .mobile-hidden {
        display: none;
    }
}
